.estrellas-hover {
  display: inline-flex;
  flex-direction: row-reverse;
}

.estrellas-hover input {
  display: none;
}

.estrellas-hover label {
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}

.estrellas-hover label:hover,
.estrellas-hover label:hover ~ label {
  color: gold;
}

.estrellas-hover input:checked ~ label {
  color: gold;
}